* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: rgb(240, 239, 239);
}

.container header nav {
    background-color: #2e445e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header nav ul {
    display: flex;
    gap: 80px;
}

.container header nav ul li {
    list-style: none;
}

.container header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.container main {
    display: flex;
}

.container main .mainTag {
    width: 80%;
    height: fit-content;
    text-align: end;
    padding: 50px;
}

.container main .mainTag h1 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 50px;
}

.container main .mainTag h2 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

.container main .mainTag .news {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.news1,
.news2,
.news3 {
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px #dedede;
}

.news-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-title {
    padding: 15px;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #333;
    line-height: 1.5;
    background: white;
    min-height: 80px;
    border-top: 1px solid #eee;
}

.news1:hover,
.news2:hover,
.news3:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container main .aside {
    width: 20%;
    height: 100vh;
    position: relative;
}

.temp {
    width: 300px;
    height: fit-content;
    position: absolute;
    transform: translate(15%, 25%);
    border-radius: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #4a627a, #2e445e);
}

.temp h1 {
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.temp img {
    width: 150px;
    height: 150px;
}

.temp p,
.temp .description,
.temp .city {
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.currency {
    position: absolute;
    top: 60%;
    left: 13%;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px #dedede;
}

.currency h1 {
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.exchangeRateToday {
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchangeRateToday i {
    margin: 0px 10px;
}

.currency input {
    width: 80%;
    height: 35px;
    text-align: end;
    margin: 10px 0px;
}

.currency select {
    width: 80%;
    height: 35px;
    text-align: end;
    margin: 10px 0px;
}

.currency button {
    width: 75%;
    height: 35px;
    text-align: center;
    color: white;
    background-color: #2e445e;
    border-radius: 10px;
    border: none;
}

.currency button:hover {
    background-color: #223144;
    cursor: pointer;
}

#Converted {
    margin-bottom: 20px;
}